<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Reset Password</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
  <script src='main.js'></script>
</head>

<body>
  <p>You requested for a password reset, kindly use this <a href='<%- process.env.RESET_URL %>'>link <%- process.env.RESET_URL %></a> to reset your
    password</p><br>
  <p>Cheers!</p>
</body>

</html>